
    h1 {
	    color:yellowgreen;
	        font-style:oblique;
	        text-align: center;
	    font-size: 450%;
        }
        

        h2 {
            font-style: italic;
                text-align: center;
                color:(aliceblue);
            font-size: 200%;
            }



        h3 {font-style: italic;
            text-align:left;
            color:greenyellow;
            font-size: 250%;}



            p { color:aliceblue;
                text-emphasis:strong;
                text-align:inherit;
                font-family: sans-serif;
                line-height: 150%;
                font-size: 100%;
                }
    

                body {
                    background-image: url("flowers/mamasheila.jpeg");
                    background-repeat: no-repeat;
                    background-position: right;
                    
                  }

                  .center {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                   
                  }
                  